.body{
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
}

.search{
    height: 100px;
    background-color: brown;
}


form{
    padding-top: 50px;
}

h1{
    padding-top: 30px;
    color: white;
}